In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 2, 3, None])
s 
s.dtype

dtype('float64')

In [3]:
s = pd.Series([1, 2, 3, None], dtype=pd.Int64Dtype())
s
print(s.isna())
s.dtype

0    False
1    False
2    False
3     True
dtype: bool

Int64Dtype()

In [5]:
s = pd.Series(['one', 'two', None, 'three'], dtype=pd.StringDtype()) 
s

0      one
1      two
2     <NA>
3    three
dtype: string

In [13]:
df = pd.DataFrame({"A": [1, 2, None, 4], "B": ["one", "two", "three", None],  "C": [False, None, False, True]}) 
df 
df["A"] = df["A"].astype("Int64") 
df["B"] = df["B"].astype("string") 
df["C"] = df["C"].astype("boolean") 
df 
print(df["A"].dtype)
print(df["B"].dtype) 
print(df["C"].dtype)

Int64
string
boolean

In [16]:
val = 'a,b, guido'
val.split(",")

['a', 'b', ' guido']

In [17]:
pieces = [x.strip() for x in val.split(",")]
pieces

['a', 'b', 'guido']

In [19]:
first, second, third = pieces 
first + "::" + second + "::" + third

'a::b::guido'

In [20]:
"::".join(pieces)

'a::b::guido'

In [22]:
print("guido" in val)

True

In [24]:
my_string = "Hello, world!"
index_of_comma = my_string. index(",")
#index_of plus = my_string. index("+")
print("Index of comma:", index_of_comma)
#print(index

Index of comma: 5

In [27]:
new_string = "example:value"
index_of_colon = new_string.find(":")
index_of_plus = new_string.find("+") 
print("Index of colon:", index_of_colon) 
print(index_of_plus)

Index of colon: 7
-1

In [28]:
val.count(",")

2

In [29]:
val.replace(",", " ::")

'a ::b :: guido'

In [30]:
import re

In [31]:
text = "foo bar\t baz \nqux" 
re.split(r"\s+", text) #\s+ represents one or m

['foo', 'bar', 'baz', 'qux']

In [32]:
regex = re.compile(r"\s+")
regex. split(text)

['foo', 'bar', 'baz', 'qux']

In [33]:
regex = re.compile(r"\s+") 
regex.findall (text)

[' ', '\t ', ' \n']

In [40]:
text = """Dave dave@google.com Steve steve@gmail.com Rob rob@gmail.com Ryan ryan@yahoo.com Prashant prashant@gmail.com"""
pattern = r"[A-Z0-9. %+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"
regex = re.compile(pattern, flags=re.IGNORECASE)

matches = regex.findall(text)
print(matches)

['Dave dave@google.com', ' Steve steve@gmail.com', ' Rob rob@gmail.com', ' Ryan ryan@yahoo.com', ' Prashant prashant@gmail.com']

In [41]:
regex.findall(text)

['Dave dave@google.com',
 ' Steve steve@gmail.com',
 ' Rob rob@gmail.com',
 ' Ryan ryan@yahoo.com',
 ' Prashant prashant@gmail.com']

In [42]:
m_search = regex.search(text) 
print(m_search) 
m_match = regex.match(text) 
print (m_match)

<re.Match object; span=(0, 20), match='Dave dave@google.com'>
<re.Match object; span=(0, 20), match='Dave dave@google.com'>

In [43]:
print(regex.sub("REDACTED", text))

REDACTEDREDACTEDREDACTEDREDACTEDREDACTED

In [45]:
pattern = r"([A-Z0-9. %+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
regex = re.compile(pattern, flags=re.IGNORECASE)

In [47]:
new_text = """prashant@example.com examplel@example. com hello@example.com example@com example"""
m= regex.match(new_text) 
print(m)
m.groups()

<re.Match object; span=(0, 20), match='prashant@example.com'>

('prashant', 'example', 'com')

In [48]:
m = regex.findall(new_text) 
m

[('prashant', 'example', 'com'), ('example. com hello', 'example', 'com')]

In [49]:
m= regex.sub(r"'Username:\1, Domain:\2, Suffix:\3", new_text) 
print(m)

'Username:prashant, Domain:example, Suffix:com examplel@'Username:example. com hello, Domain:example, Suffix:com example@com example

In [50]:
data = {"Dave":"dave@google.con", "Steve": "steve@gmail.com","Rob": "rob@gmail.com", "Wes": np.nan} 
data = pd.Series(data) 
data

Dave     dave@google.con
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [51]:
data.isna()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [52]:
data.str.contains("gmail")

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [53]:
pattern = r"([A-Z0-9. %+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, con)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [54]:
matches = data.str.findall(pattern, flags=re.IGNORECASE) 
matches

Dave     [(dave, google, con)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [55]:
result = matches.str.get(1) 
print(result)

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [57]:
matches.str[0]

Dave     (dave, google, con)
Steve    (steve, gmail, com)
Rob        (rob, gmail, com)
Wes                      NaN
dtype: object

In [58]:
matches.str[:5]

Dave     [(dave, google, con)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object